*,  ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.block-orange {
    margin-top: 50px;
    margin-left: 350px;
    height: 1100px;
    width: 350px;
    background-color: #ee4d0a;
    position: absolute;
    z-index: 0;
}

.img-format {
    z-index: 1;
    width: 340px;
    height: 341px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-position: center;
}

.section-container {
    background-color: #252323;
}

.grid {
    z-index: 1;
    padding-top:100px;
    margin-bottom: 400px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr /* minmax(300px, 1fr) */;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    ". card1 ."
    ". card2 ."
    ". card3 ."
    ". card4 ."
    ". card5 ."
    ". card6 .";
}

/* créer classe avec la propriété grid area qui informe container de la position des cards dans grids */
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
}
.card6 {
    grid-area: card6;
}

.block-white-text  {
    z-index: 0;
    height: 330px;
    width: 30%;
    display:block;
    margin-left: 472px;
    background-color: #fdfdfd;
    margin-top: 771px;
    position: absolute;
    padding: 20px;
}

.block-white-text p, h3 {
    margin-top: 40px;
    text-align: center;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #601f1f;
}

footer p {
    color: #e0d6d6;
}
.link {
    display: flex;
    text-align: center;
    background-color: #601f1f;
}

@media screen and (min-width: 768px){

    .grid {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr  /* minmax(300px, 1fr) */;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
    ". card1 card2 ."
    ". card3 card4 ."
    ". card5 card6 .";
    }
}

@media screen and (min-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: 0.1fr 1fr 1fr 1fr  0.1fr  /* minmax(300px, 1fr) */;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
    ". card1 card2 card3 ."
    ". card4 card5 card6 .";
    }
}

